
#question-details, #answers, #post-answer {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

#question-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 15px;
}

.answer {
    border-top: 2px solid #ddd;
    padding-top: 15px;
    margin-top: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.vote-btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.vote-btnQ {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.vote-btn img{
    margin-bottom: 0px;
}

.vote-btnQ img{
    margin-bottom: 10px;
}

.vote-btn:hover {
    background-color: #ec971f;
}

.accept-btn {
    background-color: #5cb85c;
    color: white;
}

.accept-btn:hover {
    background-color: #4cae4c;
}

.reject-btn {
    background-color: #d9534f;
    color: white;
}

.reject-btn:hover {
    background-color: #c9302c;
}


#success-message {
    color: green;
    margin: 10px 20px;
    text-align: center;
    display: none; 
}

.isAnswered{
    padding-left: 90%
}

.accepted-answer {
    background-color: #e0ffe0; 
    border-left: 5px solid #4CAF50; 
    padding: 10px;
}

.question-footer span{
    padding-right: 20px;
    font-size: 14px;
}

h6 {
    font-weight: normal; 
}

