body, html {
    background-color: #F5F5F5;
}

.register-box {
    width: 350px;
    margin: auto;
    margin-top:5%;
    padding:20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.heading{
    text-align:center;
}

.form-field {
    margin-bottom: 15px;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-field input[type="submit"] {
    background-color: #4681f4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-field input[type="submit"]:hover {
    background-color: #45a049;
}